<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsecurity.mapper.MemberMapper">
    <resultMap id="memberMap" type="com.example.springsecurity.dto.MemberDTO">
<!--        JOIN으로 만들어진 반환타입을 직접 만들어주고 있음 -->
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="username" column="username"/>
        <result property="regdate" column="regdate"/>
        <result property="updatedate" column="updatedate"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>
    <resultMap id="authMap" type="com.example.springsecurity.dto.AuthDTO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        SELECT member.userid, userpw, username, regdate, updatedate, auth
        FROM tbl_member member
            JOIN tbl_member_auth auth ON member.userid = auth.userid
        WHERE member.userid = #{userid}
    </select>
</mapper>